/*----------------------------------------------------------------
	Canvas: Business
-----------------------------------------------------------------*/



/* Feaured Carousel
-----------------------------------------------------------------*/
#oc-features .owl-item:not(.active) { opacity: .4; }

#oc-features .owl-item p {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}
/* Owl Carousel - Controls - Arrows
-----------------------------------------------------------------*/
.owl-carousel-full .owl-nav [class*=owl-] {
	left: 150px !important;
	height: 60px;
	line-height: 60px;
	border: none;
	color: #333;
	background-color: transparent;
	font-size: 28px;
	border-radius: 0;
}

.owl-carousel .owl-nav .owl-next {
	left: auto;
	right: -155px;
}

.owl-carousel-full  .owl-nav .owl-next {
	left: auto !important;
	right: 155px !important;
	border-radius: 0;
}

.owl-carousel-full .owl-nav [class*=owl-]:hover { color: #333 !important; }

/* Owl Carousel - Responsive
-----------------------------------------------------------------*/
.device-lg .owl-carousel .owl-nav .owl-prev,
.device-md .owl-carousel .owl-nav .owl-prev,
.device-sm .owl-carousel .owl-nav .owl-prev,
.device-xs .owl-carousel .owl-nav .owl-prev { left: 2px !important; }

.device-lg .owl-carousel-full  .owl-nav .owl-next,
.device-md .owl-carousel-full  .owl-nav .owl-next,
.device-sm .owl-carousel-full  .owl-nav .owl-next,
.device-xs .owl-carousel .owl-nav .owl-next { right: 2px !important; }
